<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   

</head>

<body>

    

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          @*<div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Savings Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>*@

            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                <ul id="Menu1">
                    <li><a href="../Home"> Inicio </a></li>
                    <li>
                        Grupos
                        <ul>
                            <li>@Html.ActionLink("Crear Nuevo Grupo", "NuevoGrupo", "Home")</li>
                            <li><a href="../Maintenance/GetAllCPSP">Ver Grupos</a></li>                           
                        </ul>
                    </li>
                    <li>
                        Asociados
                        <ul>
                            <li><a href="../Maintenance/GetAllCodPres">Registrar Nuevo Asociado</a></li>
                            <li><a href="../Maintenance/GetAllCPSP">Ver Asociados</a></li>
                        </ul>
                    </li>
                    <li>
                        Planes
                        <ul>
                            <li><a href="../Maintenance/GetAllCodPres">Crear Nuevo Plan</a></li>
                            <li><a href="../Maintenance/GetAllCPSP">Ver Planes</a></li>
                        </ul>
                    </li>
                    <li>
                        Ahorro
                        <ul>
                            <li><a href="../Maintenance/Aporte">Registrar aporte a Ahorro</a></li>
                        </ul>
                    </li>
                    <li>
                        Reportes
                        <ul>
                            <li><a href="../Survey/GetAllSurveys">Estados de Cuenta por Grupo </a></li>
                            <li><a href="../Reports/EncuestasRP.aspx">Estados de Cuenta por Asociado</a></li>
                        </ul>
                    </li>
                </ul>
              
            </div>

              @*   <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Grupos", "Grupos", "Home")
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Grupos", "Grupos", "Home")
    </ul>
    </li>
            </ul>
                @Html.Partial("_LoginPartial")
           </div>
            *@ </div>
        </div>
   
     <div class="container body-content">
        @RenderBody()
        <hr />
        <footer id="footer">
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/savings")
    @RenderSection("scripts", required: false)
</body>
</html>
